-
    const lists = [
        {
            text: 'Екатеринбург, Крауля, 68'
        },
        {
            text: 'пн | ср | пт - с 9:00 до 18:00'
        },
        {
            text: 'вт | чт - с 9:00 до 20:00'
        },
        {
            text: '+7 (343) 237-26-06',
            icon: 'img/sprites/sprite.svg#phone'
        },
        {
            text: '+7 (982) 761-59-61',
            icon: 'img/sprites/sprite.svg#whatsapp'
        }
    ]

    const navigations = [
        {
            name: 'Главная',
            link: 'Главная'
        },
        {
            name: 'Услуги',
            nested: [
                {
                    name: 'Диагностика',
                    link: 'Диагностика'
                },
                {
                    name: 'Профилактика',
                    link: 'Профилактика'
                },
                {
                    name: 'Эстетика',
                    link: 'Эстетика'
                },
                {
                    name: 'Хирургия',
                    link: 'Хирургия'
                },
                {
                    name: 'Лечение',
                    link: 'Лечение'
                },
                {
                    name: 'Протезирование',
                    link: 'Протезирование'
                },
                {
                    name: 'Детям',
                    link: 'Детям'
                }
            ]
        },
        {
            name: 'Прайс',
            link: 'Прайс'
        },
        {
            name: 'О клинике',
            link: 'О клинике'
        },
        {
            name: 'Контакты',
            link: 'Контакты'
        }
    ]

header.header
    .header__container
        .container
            .header__list
                each list in lists
                    if list.icon
                        .header__list-item
                            svg.header__list-icon
                                use(href=list.icon)
                            | #{list.text}
                    else
                        .header__list-item= list.text
    .header__container.header__container--navigation
        .container
            nav.header__navigation
                a.header__logo(href='/')
                    svg
                        use(href='img/sprites/sprite.svg#biodent')
                ul.header__navigation-list
                    each navigation in navigations
                        li.header__navigation-item(class=navigation.nested ? 'header__navigation-item--with-list' : '')
                            a(href=navigation.link).header__navigation-name= navigation.name
                            if navigation.nested
                                .header__navigation-submenu
                                    ul.header__navigation-submenu-wrapper
                                        each subname in navigation.nested
                                            li.header__navigation-subname
                                                a(href=subname.link).header__navigation-sublink= subname.name
                +button('button', 'Записаться на прием', 'transparent', 'callback')(class='header__button')

