mixin slider(items, view, without_button, modal)
    div.slider.swiper(class=view ? `slider--${view}`:'')
        .swiper-wrapper
            each item in items
                .slider__item.swiper-slide
                    .slider__item-wrapper
                        .slider__item-image
                            img(src=item.image)
                        .slider__item-content
                            .slider__item-info
                                .slider__item-title!= item.title
                                .slider__item-description= item.description
                            if !without_button
                                +button('button', 'Подробнее', 'light', modal?modal:'doctor').slider__button
        .slider__navigation
            .slider__arrow.slider__arrow-prev
                .slider__arrow-icon
            .slider__arrow.slider__arrow-next
                .slider__arrow-icon
