mixin button(options)
    if options.tag === 'a'
        a.button(href=options.link, class=`${options.view ? `button--${options.view}` : ''} ${options.theme ? `button--${options.theme}` : ''}`)&attributes(attributes) #{options.text}

    else
        #{options.tag}.button(data-modal=options.modal)(class=`${options.view ? `button--${options.view}` : ''} ${options.theme ? `button--${options.theme}` : ''}`)&attributes(attributes) #{options.text}
